In [ ]:
a_list=[1,2,3,4,5,11,1,2,6,1,8]

# 1st way with the values
for k in a_list:
  print(k)

# 2nd way with index
for ind in range(len(a_list)):
  print(a_list[ind])

1
2
3
4
5
11
1
2
6
1
8

In [ ]:
#Remove all repeated elements from the list Given below using for loop.
a_list=[1,2,3,4,5,11,1,2,6,1,8]
unique_list=[]
for k in a_list:
  if k in unique_list:
    print("Repeated Value :-",k)
  else:
    unique_list.append(k)
print(unique_list)

Repeated Value :- 1
Repeated Value :- 2
Repeated Value :- 1
[1, 2, 3, 4, 5, 11, 6, 8]

In [ ]:
# With Sets
a_list=[1,2,3,4,5,11,1,2,6,1,8]
print(set(a_list))

{1, 2, 3, 4, 5, 6, 8, 11}

In [ ]:
# Print all prime numbers below 100
list_of_prime_numbers=[]
for k in range(2,100):
  flag=True
  for s in range(2,k):
    if k%s==0:
      flag=False
      break
  if flag:
    list_of_prime_numbers.append(k)

for primes in list_of_prime_numbers:
  print(primes,"is a prime number")

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
53 is a prime number
59 is a prime number
61 is a prime number
67 is a prime number
71 is a prime number
73 is a prime number
79 is a prime number
83 is a prime number
89 is a prime number
97 is a prime number

In [ ]:
# Question 3) print list in reverse order using for loop
a=[1,2,3,4,5,6,7]
reverse_list=[]
# start,stop,steps
for k in a[::-1]:
  reverse_list.append(k)
print(reverse_list)

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
#print multiplication table of 13 using for loop
for k in range(1,11):
  print(str(k)+" X 13 is =",k*13)

1 X 13 is = 13
2 X 13 is = 26
3 X 13 is = 39
4 X 13 is = 52
5 X 13 is = 65
6 X 13 is = 78
7 X 13 is = 91
8 X 13 is = 104
9 X 13 is = 117
10 X 13 is = 130

In [ ]:
a=15

print(a/2)
print(a//2)

7.5
7

In [ ]:
#Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers.
a=int(input("First Number"))
b=int(input("Second Number"))

smallest_number=min(a,b)
# start,stop,step
for k in range(smallest_number,-1,-1):
  if a%k==0 and b%k==0:
    print("The GCD IS ",k)
    break

First Number32
Second Number14
The GCD IS  2

In [ ]:
# factorial of a number
num=int(input("Please enter a number "))
factorial=1

for k in range(1,num+1):
  factorial=factorial*k

print(factorial)

Please enter a number 0
1

In [ ]:
# WAP to separate positive and negative number from a list.
demo_list=[1,2,3,4,5,-2,-5,-9,-11,2,6]
post_num=[]
nega_num=[]
for k in demo_list:
  if k<0:
    nega_num.append(k)
  else:
    post_num.append(k)

print(post_num)
print(nega_num)

[1, 2, 3, 4, 5, 2, 6]
[-2, -5, -9, -11]

In [ ]:
fibonacci_list=[0,1]
number_of_terms=int(input("Number of terms :- "))
while len(fibonacci_list)<number_of_terms:
  next_term=fibonacci_list[-1]+fibonacci_list[-2]
  fibonacci_list.append(next_term)
print(fibonacci_list)
#0, 1, 1, 2, 3, 5, 8, 13, 21, 34

Number of terms :- 10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]