In [ ]:
#valid and invalid variables
name = 'Anurag'

Valid starts with letters or underscore
Inavid starts with number or character

1. Standard Data Type
  1. Numbers
    1. Integer
    2. Float
    3. Complex
  2. Boolean
  3. String
2. Data Structure Data Type
  1. List
  2. Tuple
  3. Set
  4. Dictionary

In [ ]:
#integer: Any whole number +ve or -ve
int1=1995
int2=-1995
print(int1)
print(type(int1))
print(int2)
print(type(int2))

1995
<class 'int'>
-1995
<class 'int'>

In [ ]:
#float: Any combination of whole number and fractional number +ve or -ve
flt1=3.1415
print(flt1)
print(type(flt1))
flt2= -3.1415
print(flt2)
print(type(flt2))

3.1415
<class 'float'>
-3.1415
<class 'float'>

In [ ]:
#Complex: Combination of Real (Integer or float) and Imaginary number
cmplx1= 2 + 3j
print(cmplx1)
print(type(cmplx1))

(2+3j)
<class 'complex'>

In [ ]:
#Boolean: True- 1 and False-0
bool1=True
print(bool1)
print(type(bool1))

bool1=False
print(bool1)
print(type(bool1))

True
<class 'bool'>
False
<class 'bool'>

In [ ]:
#String:  Any combination inside single or double quotes or triple single quotes or tiple double quotes
str1= 'pyhton'
print(str1)
print(type(str1))
str2= "python"
print(str2)
print(type(str2))
str1= ''' python'''
print(str1)
print(type(str1))
str2= """ python """
print(str2)
print(type(str2))
str2= """ python """
print(str2)
print(type(str2))

pyhton
<class 'str'>
python
<class 'str'>
 python
<class 'str'>
 python
<class 'str'>
 python
<class 'str'>

In [ ]:
str1= """My name is "Nahian". I live in 'PCB'"""
print(str1)
print(type(str1))

My name is "Nahian". I live in 'PCB'
<class 'str'>

In [ ]:
#List
#1. List is represented by square brackets []
#2. List is mutable (can be changed)


lst1=[1,2,3,4,5,0]

print(lst1)
print(type(lst1))

[1, 2, 3, 4, 5, 0]
<class 'list'>

In [ ]:
#Tuple
#1. Tuple is represented by circular brackets ()
#2. Tuple is immutable (can not be changed)

tup1= (1,3,4,3,0)
print(tup1)
print(type(tup1))

(1, 3, 4, 3, 0)
<class 'tuple'>

In [ ]:
#Set
#1. Set is combination of unique values
#2. Set is collection of unordered element
#3. Set is represented by curly brackets
#4. Set is mutable

set1 = {1,2,3,'a','n','k'}
print(set1)
set2= {1,2,3,3,'a','n','k','k'}
print(set1)
print(type(set1))
print(type(set2))

{'a', 1, 2, 3, 'n', 'k'}
{'a', 1, 2, 3, 'n', 'k'}
<class 'set'>
<class 'set'>

In [ ]:
lst1= ["nahian", "anurag",1,-4,7, 2+3j , 1, "NAHIAN", 2+3j]
lst2=[2, 4, -6, 2+3j, "barbie", "oppenheimer", -4, -6  ]

print(lst1)
print(type(lst1))
print(lst2)
print(type(lst2))

tup1= ("nahian", "anurag",1,-4,7, 2+3j , 1, "NAHIAN", 2+3j)
tup2= (2, 4, -6, 2+3j, "barbie", "oppenheimer", -4, -6 )
print(tup1)
print(type(tup1))
print(tup2)
print(type(tup2))

set1={2, 4, -6, 2+3j, "barbie", "oppenheimer", -4, -6 }
set2= {"nahian", "anurag",1,-4,7, 2+3j , 1, "NAHIAN", 2+3j}

print(set1)
print(set2)
print(type(set1))
print(type(set2))

['nahian', 'anurag', 1, -4, 7, (2+3j), 1, 'NAHIAN', (2+3j)]
<class 'list'>
[2, 4, -6, (2+3j), 'barbie', 'oppenheimer', -4, -6]
<class 'list'>
('nahian', 'anurag', 1, -4, 7, (2+3j), 1, 'NAHIAN', (2+3j))
<class 'tuple'>
(2, 4, -6, (2+3j), 'barbie', 'oppenheimer', -4, -6)
<class 'tuple'>
{2, 4, 'oppenheimer', -6, (2+3j), 'barbie', -4}
{1, 'nahian', 'anurag', 7, 'NAHIAN', (2+3j), -4}
<class 'set'>
<class 'set'>

In [ ]:
#Dictionary
dic1={'a':'apple',
      'b':'banana',
      'c': 'cherry'}
print(dic1)
print(type(dic1))

{'a': 'apple', 'b': 'banana', 'c': 'cherry'}
<class 'dict'>

In [ ]:
dic1={'a':["nahian", "anurag",1,-4,7, 2+3j , 1, "NAHIAN", 2+3j],
      'b':(2, 4, -6, 2+3j, "barbie", "oppenheimer", -4, -6 ),
      'c': {2, 4, -6, 2+3j, "barbie", "oppenheimer", -4, -6,"nahian", "anurag",1,-4,7, 2+3j , 1, "NAHIAN", 2+3j  }}
print(dic1)
print (type(dic1))

{'a': ['nahian', 'anurag', 1, -4, 7, (2+3j), 1, 'NAHIAN', (2+3j)], 'b': (2, 4, -6, (2+3j), 'barbie', 'oppenheimer', -4, -6), 'c': {1, 2, 4, 'nahian', 7, 'NAHIAN', (2+3j), 'barbie', -4, 'anurag', -6, 'oppenheimer'}}
<class 'dict'>

In [ ]:
str1= "barbie x oppenheimer"
print(str1)
print(type(str1))
print(len(str1))

print(str1[0])
print(str1[1])
print(str1[2])
print(str1[3])
print(str1[4])
print(str1[5])
print(str1[6])
print(str1[7])
print(str1[8])

barbie x oppenheimer
<class 'str'>
20
b
a
r
b
i
e

x

In [ ]:
# stringname[index : lenth: iteration]
print (str1[0:6:1], str1[7:8:1], str1[9:20:1])

#same as above
str1[:6] , str1[7:8] , str1[9:]

barbie x oppenheimer

('barbie', 'x', 'oppenheimer')

In [ ]:
#For full length: str [::], str [0::], str [0:len(str):], str[::1]
#For slicing:
#str[index: length: skip value]

str1 = "NahianKabir147"
str1[0:6:1], str1[6:11:1], str1[11:14:1]

('Nahian', 'Kabir', '147')