In [ ]:
lst1=[12,23,34,34,56,67,78,89,90,21,32,43,54,65,76,87,98,9]

for i in lst1:
  print('value of i', i)

value of i 12
value of i 23
value of i 34
value of i 34
value of i 56
value of i 67
value of i 78
value of i 89
value of i 90
value of i 21
value of i 32
value of i 43
value of i 54
value of i 65
value of i 76
value of i 87
value of i 98
value of i 9

In [ ]:
tup1 = ('apple','banana','cherries','dates','eggplant','fig','grapes')

for i in tup1:
  print('value of i', i)

value of i apple
value of i banana
value of i cherries
value of i dates
value of i eggplant
value of i fig
value of i grapes

In [ ]:
set1={'apple','banana','cherries','dates','eggplant','fig','grapes'}

#set is unordered
for i in set1:
  print('value of i', i)

value of i banana
value of i grapes
value of i eggplant
value of i fig
value of i cherries
value of i dates
value of i apple

In [ ]:
str1='Peppa prefers python programming'

print(len(str1))

for i in str1:
  print('value of i', i)

32
value of i P
value of i e
value of i p
value of i p
value of i a
value of i
value of i p
value of i r
value of i e
value of i f
value of i e
value of i r
value of i s
value of i
value of i p
value of i y
value of i t
value of i h
value of i o
value of i n
value of i
value of i p
value of i r
value of i o
value of i g
value of i r
value of i a
value of i m
value of i m
value of i i
value of i n
value of i g

In [ ]:
dic1={'a':'apple', 'b':'ball', 'c':'cat', 'd': 'doll'}

#prints key of dictionary

for i in dic1:
  print('value of i', i)

value of i a
value of i b
value of i c
value of i d

In [ ]:
#range


for i in range(10):  # range 0-10
  print('value of i', i)

value of i 0
value of i 1
value of i 2
value of i 3
value of i 4
value of i 5
value of i 6
value of i 7
value of i 8
value of i 9

In [ ]:
for i in range(0,10,1): # start:stop:step
  print('value of i', i)

value of i 0
value of i 1
value of i 2
value of i 3
value of i 4
value of i 5
value of i 6
value of i 7
value of i 8
value of i 9

In [ ]:
for i in range(0,56,3): # start:stop:step
  print('value of i', i)

value of i 0
value of i 3
value of i 6
value of i 9
value of i 12
value of i 15
value of i 18
value of i 21
value of i 24
value of i 27
value of i 30
value of i 33
value of i 36
value of i 39
value of i 42
value of i 45
value of i 48
value of i 51
value of i 54

In [ ]:
for i in range(10):
  for j in range(10):
    print('*', end='')  #default value of end is \n, we can assign
  print('\r')

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

In [ ]:
#printing 10x10 matrix
#1-100

c=0
for i in range(10):
  for j in range(10):
    c+=1
    print( c , end=' ')  #default value of end is \n, we can assign


  print('\r')

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100

In [ ]:
#pyramid

for i in range(10):
  for j in range(0,10-i):  #spaces 10-1= 9 spaces
    print(' ', end='')
  for k in range(0,i+1):   #asterik 0+1= 1 asterik
    print('*', end= ' ')
  print('\r')

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [ ]:

for i in range(10):
  for j in range(0,i+1):
    print(' ', end='')
  for k in range(0,10-i):
    print('*', end= ' ')
  print('\r')

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [ ]:
for i in range(10):
  for j in range(0,10-i):
    print(' ', end='')
  for k in range(0,i+1):
    print('*', end= ' ')
  print('\r')


for i in range(10):
  for j in range(0,i+1):
    print(' ', end='')
  for k in range(0,10-i):
    print('*', end= ' ')
  print('\r')

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *
 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [ ]:
for i in range(5):
  for j in range(0,5-i):
    print(' ', end='')
  for k in range(0,i+1):
    print('*', end= ' ')
  print('\r')

for i in range(6):
  print('*', end=' ')
print('\r')

for i in range(5):
  for j in range(0,i+1):
    print(' ', end='')
  for k in range(0,5-i):
    print('*', end= ' ')
  print('\r')

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [ ]:

for i in range(10):
  for j in range(0,i+1):
    print(' ', end='')
  for k in range(0,10-i):
    print('*', end= ' ')

  print('\r')

for i in range(9):
  for j in range(0,10-(i+1)):
    print(' ', end='')
  for k in range(0,i+2):
    print('*', end= ' ')
  print('\r')

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [ ]:

for i in range(5):
  for j in range(0,i+1):
    print(' ', end='')
  for k in range(0,5-i):
    print('*', end= ' ')

  print('\r')

for i in range(4):
  for j in range(0,5-(i+1)):
    print(' ', end='')
  for k in range(0,i+2):
    print('*', end= ' ')
  print('\r')

 * * * * *
  * * * *
   * * *
    * *
     *
    * *
   * * *
  * * * *
 * * * * *

In [ ]:
#hollow triangle

for i in range(10):
    for j in range(10-i):
        print(' ', end='')

    for j in range(2*i+1):
        if j==0 or j==2*i or i==10-1:
            print('*',end='')
        else:
            print(' ', end='')
    print()

          *
         * *
        *   *
       *     *
      *       *
     *         *
    *           *
   *             *
  *               *
 *******************