In [ ]:
#Nested If

a=123

if a<200:
  print("if a<200")
  if a<175:
    print("if a<175")
    if a<150:
      print("if a<150")
      if a<125:
        print("if a<125")
        if a<100:
          print("if a<100")
          if a<75:
            print("if a<75")
          else:
            print("else if a<75")
        else:
          print("else if a<100")
      else:
        print("else if a<125")
    else:
      print("else if a<150")
  else:
    print("else if a<150")
else:
    print("else if a<150")

if a<200
if a<175
if a<150
if a<125
else if a<100

In [ ]:
#while loop

a=100

while a>10:
  print(a, 'is greater 10')
  a-=1

100 is greater 10
99 is greater 10
98 is greater 10
97 is greater 10
96 is greater 10
95 is greater 10
94 is greater 10
93 is greater 10
92 is greater 10
91 is greater 10
90 is greater 10
89 is greater 10
88 is greater 10
87 is greater 10
86 is greater 10
85 is greater 10
84 is greater 10
83 is greater 10
82 is greater 10
81 is greater 10
80 is greater 10
79 is greater 10
78 is greater 10
77 is greater 10
76 is greater 10
75 is greater 10
74 is greater 10
73 is greater 10
72 is greater 10
71 is greater 10
70 is greater 10
69 is greater 10
68 is greater 10
67 is greater 10
66 is greater 10
65 is greater 10
64 is greater 10
63 is greater 10
62 is greater 10
61 is greater 10
60 is greater 10
59 is greater 10
58 is greater 10
57 is greater 10
56 is greater 10
55 is greater 10
54 is greater 10
53 is greater 10
52 is greater 10
51 is greater 10
50 is greater 10
49 is greater 10
48 is greater 10
47 is greater 10
46 is greater 10
45 is greater 10
44 is greater 10
43 is greater 10
42 is greater 10
41 is greater 10
40 is greater 10
39 is greater 10
38 is greater 10
37 is greater 10
36 is greater 10
35 is greater 10
34 is greater 10
33 is greater 10
32 is greater 10
31 is greater 10
30 is greater 10
29 is greater 10
28 is greater 10
27 is greater 10
26 is greater 10
25 is greater 10
24 is greater 10
23 is greater 10
22 is greater 10
21 is greater 10
20 is greater 10
19 is greater 10
18 is greater 10
17 is greater 10
16 is greater 10
15 is greater 10
14 is greater 10
13 is greater 10
12 is greater 10
11 is greater 10

In [ ]:
a=10

while a<100:
  print(a, 'is less than 100')
  a+=10

10 is less than 100
20 is less than 100
30 is less than 100
40 is less than 100
50 is less than 100
60 is less than 100
70 is less than 100
80 is less than 100
90 is less than 100

In [ ]:
i=100

while i<200:
  print(i, 'is less than 200')
  i+=10

100 is less than 200
110 is less than 200
120 is less than 200
130 is less than 200
140 is less than 200
150 is less than 200
160 is less than 200
170 is less than 200
180 is less than 200
190 is less than 200

In [ ]:
j=300

while j>200:
  print(j, 'is greater than 200')
  j-=20

300 is greater than 200
280 is greater than 200
260 is greater than 200
240 is greater than 200
220 is greater than 200

In [ ]:
#break continue pass

#break
a=10
while a<100:
  if a==50:
    break
  print(a, "is less than 100")
  a+=10

10 is less than 100
20 is less than 100
30 is less than 100
40 is less than 100

In [ ]:
a=10
while a<100:
  a+=10
  if a==50:
    continue #conitnue skips when a=50
  print(a, "is less than 100")
  #a+=10

20 is less than 100
30 is less than 100
40 is less than 100
60 is less than 100
70 is less than 100
80 is less than 100
90 is less than 100
100 is less than 100

In [ ]:
#pass
a=200
while a<500:
  pass #continues till infinity

KeyboardInterrupt: ignored

In [ ]:
a=0
while a<101:
  if(a%2==0):
    print(a, "is even")
  else:
    print(a, "is odd")
  a+=1

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
21 is odd
22 is even
23 is odd
24 is even
25 is odd
26 is even
27 is odd
28 is even
29 is odd
30 is even
31 is odd
32 is even
33 is odd
34 is even
35 is odd
36 is even
37 is odd
38 is even
39 is odd
40 is even
41 is odd
42 is even
43 is odd
44 is even
45 is odd
46 is even
47 is odd
48 is even
49 is odd
50 is even
51 is odd
52 is even
53 is odd
54 is even
55 is odd
56 is even
57 is odd
58 is even
59 is odd
60 is even
61 is odd
62 is even
63 is odd
64 is even
65 is odd
66 is even
67 is odd
68 is even
69 is odd
70 is even
71 is odd
72 is even
73 is odd
74 is even
75 is odd
76 is even
77 is odd
78 is even
79 is odd
80 is even
81 is odd
82 is even
83 is odd
84 is even
85 is odd
86 is even
87 is odd
88 is even
89 is odd
90 is even
91 is odd
92 is even
93 is odd
94 is even
95 is odd
96 is even
97 is odd
98 is even
99 is odd
100 is even

In [ ]:
total=0
num = int(input("Enter a  number "))

while num!=0:
  total+=num
  num=int(input("Enter a number "))
print(total)

Enter a  number1
Enter a number2
Enter a number3
Enter a number0
6

In [ ]:
total=0
age = int(input("Enter an age "))

while age>17:
  total+=1
  age=int(input("Enter an age "))
print(total)

Enter an age 21
Enter an age 23
Enter an age 22
Enter an age 12
3

In [ ]:
lst1= [1,2,3,4,5,6,7,8,9,10,11,22,33,44,55,66,77,88,99,110]

while len(lst1)>0:
  lst1.pop()
  print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 22, 33, 44, 55, 66, 77, 88, 99]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 22, 33, 44, 55, 66, 77, 88]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 22, 33, 44, 55, 66, 77]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 22, 33, 44, 55, 66]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 22, 33, 44, 55]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 22, 33, 44]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 22, 33]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 22]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3]
[1, 2]
[1]
[]

In [ ]:
#Write a propgram divisible by 5 and 7

a=int(input("Enter a number: \n"))

while (a%5==0 and a%7==0) :
  print("divisible by 5 and 7")
  break
else:
  print("not divisible")

Enter a number:
35
divisible by 5 and 7