In [ ]:
for i in range(10):
  for j in range(0, 10-i):
    print(' ', end='')
  for j in range(0,i+1):
    print('*', end=' ')
  print("\r")

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [ ]:
# hollow square pattern

size = int(input("Enter size of hollow square: \n"))
for i in range(size):
  for j in range(size):
    if i == 0 or i == size - 1 or j == 0 or j == size - 1:
      print('*', end=' ')
    else:
      print(' ', end=' ')
  print()

Enter size of hollow square:
5
* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
#fibonacci series

length=int(input("Please enter the length of your fibonacci series: \n"))

a=0
b=1

print("The fibonacci series: ")

print(a,",", end=" ")

print(b,",", end=" ")

for i in range(length-2):
  c= a+b
  if i==(length-3):
    print(c,".", end=" ")
  else:
    print(c,",", end=" ")

  a=b
  b=c

Please enter the length of your fibonacci series:
8
The fibonacci series:
0 , 1 , 1 , 2 , 3 , 5 , 8 , 13 .

In [ ]:
record={"Sameer":89, "Sabina":87,"Inder":37,"Keshav":57,"Kisto":31 }
#print(len(record))

for keys, values in record.items():

  if values<35 :
    grade= "F"
    greeting="Failed. Better luck next time!"
  elif 35<=values<45:
    grade= "E"
    greeting="Passed but Work harder!"
  elif 45<=values<50:
    grade= "D"
    greeting="Passed. Theres room for improvement"

  elif 50<=values<60:
    grade= "C"
    greeting="Passed. You are getting there!"

  elif 60<=values<80:
    grade= "B"
    greeting="Excellent. All the best!"

  elif values>=80:
    grade= "A"
    greeting="Congratulations. Sky is the limit!"

  print(keys, "has got a grade", grade,"with", values,"marks.", greeting)

Sameer has got a grade A with 89 marks. Congratulations. Sky is the limit!
Sabina has got a grade A with 87 marks. Congratulations. Sky is the limit!
Inder has got a grade E with 37 marks. Passed but Work harder!
Keshav has got a grade C with 57 marks. Passed. You are getting there!
Kisto has got a grade F with 31 marks. Failed. Better luck next time!

In [ ]:
#FUNCTIONS in python

"""1. IN BUILT FUNCTIONS
  2. USER DEFINED FUNCTIONS """

#TYPE CASTING FUNCTIONS

int(),float(),complex(),bool(),str()
list(),tuple(),set(),dict()

In [ ]:
int1=1997

print(float(int1))
print(complex(int1))
print(bool(int1))
print(str(int1))
#print(list(int1)) TypeError: 'int' object is not iterable
#print(tuple(int1)) TypeError: 'int' object is not iterable
#print(set(int1)) TypeError: 'int' object is not iterable
#print(dict(int1)) TypeError: 'int' object is not iterable

1997.0
(1997+0j)
True
1997

In [ ]:
#covert decimal to bin() oct() hex()
for i in range(100):
  print("Decimal of", i,"is", i )
  print("Binary of", i,"is", bin(i))
  print("Octadec of", i,"is", oct(i))
  print("Hexadec of", i,"is",hex(i))
  print("\r")

In [ ]:
#help shows details of function

help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of google.colab._kernel.Kernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

In [ ]:
#user defined function

def sum_of_two(a,b):
  return(a+b)

sum_of_two(1,2)

sum_of_two(True,False)

1

In [ ]:

sum_of_two("Nahian","Kabir")

'NahianKabir'

In [ ]:
sum_of_two([1,2,3],[1,2,2])

[1, 2, 3, 1, 2, 2]

In [ ]:
sum_of_two((1,2,3),(1,2,2))

(1, 2, 3, 1, 2, 2)

In [ ]:
# sum_of_two({1,2,3},{1,2,2}) TypeError: unsupported operand type(s) for +: 'set' and 'set'
#doesnt work for set and dictionary