In [1]:

#1) Swap two numbers using 3rd variable

num1 = int(input("Enter the first number: \n"))
num2 = int(input("Enter the second number: \n"))
temp = num1
num1 = num2
num2 = temp

print("First number:", num1)
print("Second number:", num2)

Enter the first number: 8
Enter the second number: 9
After swapping:
First number: 9
Second number: 8

In [2]:
#2) Swap two numbers without using 3rd variable

num1 = int(input("Enter the first number: \n"))
num2 = int(input("Enter the second number: \n"))

num1, num2 = num2, num1

print("First number:", num1)
print("Second number:", num2)

Enter the first number: 89
Enter the second number: 98
After swapping:
First number: 98
Second number: 89

In [4]:
#3) Remove duplicate elements from a list without converting to tuple



original_list = [1, 2, 2, 3, 4, 4, 5, 6, 6]


unique_list = []

for item in original_list:

    if item not in unique_list:
        unique_list.append(item)


print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5, 6]

In [5]:

#3) Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers

import math


num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))


gcd = math.gcd(num1, num2)

print(f"The GCD of {num1} and {num2} is {gcd}")

Enter the first number: 30
Enter the second number: 40
The GCD of 30 and 40 is 10

In [25]:

#4)Write a loop to print following series
#10, 20, 30,  …………………, 300

for num in range(10, 301, 10):
    print(num, end=" ")

10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200 210 220 230 240 250 260 270 280 290 300

In [28]:
#5) Write a loop to print following series
#105,98,91,………………………,7

for num in range(105, 6, -7):
    print(num, end=" ")

105 98 91 84 77 70 63 56 49 42 35 28 21 14 7

In [8]:
#6) Write a program to print number names of digits in a number like
#SAMPLE INPUT 231 		SAMPLE OUTPUT TWO THREE ONE


digit_names = {
    '0': 'ZERO',
    '1': 'ONE',
    '2': 'TWO',
    '3': 'THREE',
    '4': 'FOUR',
    '5': 'FIVE',
    '6': 'SIX',
    '7': 'SEVEN',
    '8': 'EIGHT',
    '9': 'NINE'
}

num_str = input("Enter a number: ")

number_names = []

for digit in num_str:
    if digit in digit_names:
        number_names.append(digit_names[digit])

print("Number names:", ' '.join(number_names))

Enter a number: 231
Number names: TWO THREE ONE

In [31]:
#7) Write a program to print Fibonacci series till n terms take n =50

fibonacci_list=[0,1]
number_of_terms=int(input("Number of terms :- "))
while len(fibonacci_list)<number_of_terms:
  next_term=fibonacci_list[-1]+fibonacci_list[-2]
  fibonacci_list.append(next_term)
print(fibonacci_list)

Number of terms :- 50
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049]

In [32]:
#8) Write a program to print factorial of a number

num=int(input("Please enter a number: \n"))
factorial=1

for k in range(1,num+1):
  factorial=factorial*k

print(factorial)

Please enter a number 6
720

In [33]:
#9) Write a program to check if a number is Armstrong or not


num = int(input("Enter a number: "))

num_str = str(num)
num_digits = len(num_str)

sum_of_digits = 0

for digit_char in num_str:
    digit = int(digit_char)
    sum_of_digits += digit ** num_digits

if num == sum_of_digits:
    print(f"{num} is an Armstrong number.")
else:
    print(f"{num} is not an Armstrong number.")

Enter a number: 153
153 is an Armstrong number.

In [34]:
#10) Write a program to convert binary to decimal

binary_str = input("Enter a binary number: ")

decimal_num = int(binary_str, 2)

print("Decimal representation:", decimal_num)

Enter a binary number: 101
Decimal representation: 5

In [35]:
#11) Write a program to convert decimal to binary

decimal_num = int(input("Enter a decimal number: "))


binary_str = bin(decimal_num)[2:]


print("Binary representation:", binary_str)

Enter a decimal number: 5
Binary representation: 101

In [18]:
#12) Write a program to check if number is palindrome on not (Without converting to string)

num = int(input("Enter a number: "))

original_num = num

reversed_num = 0


while num > 0:
    digit = num % 10  # Get the last digit
    reversed_num = reversed_num * 10 + digit
    num //= 10  # Remove the last digit

if original_num == reversed_num:
    print("The number is a palindrome.")
else:
    print("The number is not a palindrome.")

Enter a number: 123321
The number is a palindrome.

In [36]:
#13) Write a program to print all numbers which are divisible by 13 but not by 3 between 100 and 500


for num in range(100, 501):
    if num % 13 == 0 and num % 3 != 0:
        print(num, end=' ')

104 130 143 169 182 208 221 247 260 286 299 325 338 364 377 403 416 442 455 481 494

In [15]:
#14) Write a Python program to convert temperatures to and from Celsius and Fahrenheit.

def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

def fahrenheit_to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5/9

temperature = float(input("Enter the temperature value: "))
unit = input("Enter the temperature unit (C for Celsius, F for Fahrenheit): ")

if unit.upper() == "C":
    fahrenheit = celsius_to_fahrenheit(temperature)
    print(f"{temperature}°C is equal to {fahrenheit}°F")
elif unit.upper() == "F":
    celsius = fahrenheit_to_celsius(temperature)
    print(f"{temperature}°F is equal to {celsius}°C")
else:
    print("Invalid temperature unit. Please enter 'C' for Celsius or 'F' for Fahrenheit.")

Enter the temperature value: 34
Enter the temperature unit (C for Celsius, F for Fahrenheit): f
34.0°F is equal to 1.1111111111111112°C

In [14]:
#15) Write a Python program that takes two digits m (row) and n (column) as input
#and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. else it will be 0


m = int(input("Enter the number of rows (m): "))
n = int(input("Enter the number of columns (n): "))

two_dimensional_array = []

for i in range(m):
    row = []
    for j in range(n):
        if i * j == 0:
            row.append(0)
        else:
            row.append(i * j)
    two_dimensional_array.append(row)

for row in two_dimensional_array:
    print(row)

Enter the number of rows (m): 4
Enter the number of columns (n): 5
[0, 0, 0, 0, 0]
[0, 1, 2, 3, 4]
[0, 2, 4, 6, 8]
[0, 3, 6, 9, 12]

In [37]:
'''16. Write a Python program that accepts a string and calculates the number of digits and letters.
Sample Data: Python 3.2
Expected Output:
Letters 6
Digits 2'''


input_string = input("Enter a string: ")


letter_count = 0
digit_count = 0


for char in input_string:

    if char.isalpha():
        letter_count += 1

    elif char.isdigit():
        digit_count += 1


print("# of Letters:", letter_count)
print("# of Digits:", digit_count)

Enter a string: 123gh56
# of Letters: 2
# of Digits: 5

In [38]:
#18) Write a Python program to check if a triangle is equilateral, isosceles or scalene. Take 3 inputs for each side


side1 = float(input("Enter the length of the first side: "))
side2 = float(input("Enter the length of the second side: "))
side3 = float(input("Enter the length of the third side: "))


if side1 + side2 > side3 and side1 + side3 > side2 and side2 + side3 > side1:

    if side1 == side2 == side3:
        triangle_type = "equilateral"

    elif side1 == side2 or side1 == side3 or side2 == side3:
        triangle_type = "isosceles"

    else:
        triangle_type = "scalene"


    print(f"The given triangle is {triangle_type}.")
else:
    print("It's not a valid triangle.")

Enter the length of the first side: 5
Enter the length of the second side: 5
Enter the length of the third side: 5
The given triangle is equilateral.

In [40]:
'''19) Write a Python program to get the next day of a given date.
Expected Output:
Input a year: 2016
Input a month [1-12]: 08
Input a day [1-31]: 23
The next date is [yyyy-mm-dd] 2016-8-24
'''

import numpy as np
import pandas as pd


year = int(input("Input a year: "))
month = int(input("Input a month [1-12]: "))
day = int(input("Input a day [1-31], except for month 2: "))

date_df = pd.DataFrame({'year': [year], 'month': [month], 'day': [day]})


date_series = pd.to_datetime(date_df)

next_date_series = date_series + pd.DateOffset(days=1)


next_year = next_date_series.dt.year.values[0]
next_month = next_date_series.dt.month.values[0]
next_day = next_date_series.dt.day.values[0]

print(f"The next date is [yyyy-mm-dd] {next_year}-{next_month}-{next_day}")

Input a year: 2024
Input a month [1-12]: 2
Input a day [1-31]: 29
The next date is [yyyy-mm-dd] 2024-3-1