In [26]:
import pandas as pd

In [27]:
df=pd.read_csv("Online_Retail.csv", encoding='latin1' )

In [28]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/11 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/11 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/11 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/11 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/11 12:50,4.95,12680.0,France

In [29]:
df.shape

(541909, 8)

In [30]:
#dropping negative values
df = df[df['Quantity']>=0]

In [31]:
df.shape

(531285, 8)

In [32]:
df.dropna().shape

(397924, 8)

In [20]:
#removing na vlaues
df_cleaned=df.dropna()

In [34]:
df_cleaned.shape

(397924, 8)

In [35]:

df_cleaned.describe()

            Quantity      UnitPrice     CustomerID
count  397924.000000  397924.000000  397924.000000
mean       13.021823       3.116174   15294.315171
std       180.420210      22.096788    1713.169877
min         1.000000       0.000000   12346.000000
25%         2.000000       1.250000   13969.000000
50%         6.000000       1.950000   15159.000000
75%        12.000000       3.750000   16795.000000
max     80995.000000    8142.750000   18287.000000

In [36]:
#1) Clean the dataset look and study the dataset for this part
df_cleaned

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/11 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/11 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/11 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/11 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/11 12:50,4.95,12680.0,France

In [37]:
#2) Create a Dictionary with the 10 countries that have the most 'Quantity' ordered except UK

df_notUK = df_cleaned[df_cleaned['Country'] != 'United Kingdom']
country_quantities = {}


for index, row in df_cleaned.iterrows():
    country = row['Country']
    quantity = row['Quantity']

    if country in country_quantities:
        country_quantities[country] += quantity
    else:
        country_quantities[country] = quantity

sorted_country_quantities = dict(sorted(country_quantities.items(), key=lambda x: x[1], reverse=True)[:10])

print(sorted_country_quantities)

{'United Kingdom': 4269472, 'Netherlands': 200937, 'EIRE': 140525, 'Germany': 119263, 'France': 111472, 'Australia': 84209, 'Sweden': 36083, 'Switzerland': 30083, 'Spain': 27951, 'Japan': 26016}

In [38]:
#2 Alternative: by group by

top_countries = df_cleaned[df_cleaned['Country'] != 'UK'].groupby('Country')['Quantity'].sum().nlargest(10).to_dict()

print(top_countries )

{'United Kingdom': 4269472, 'Netherlands': 200937, 'EIRE': 140525, 'Germany': 119263, 'France': 111472, 'Australia': 84209, 'Sweden': 36083, 'Switzerland': 30083, 'Spain': 27951, 'Japan': 26016}

In [ ]:
df_cleaned['InvoiceDate'] = pd.to_datetime(df_cleaned['InvoiceDate'])

In [43]:
#3)  Find Total Sale between two dates entered by user
df_copy = df_cleaned.copy()
df_copy['InvoiceDate'] = pd.to_datetime(df_copy['InvoiceDate'])

start= input("Enter the start date (YYYY-MM-DD): ")
end= input("Enter the end date (YYYY-MM-DD): ")

start_date = pd.to_datetime(start)
end_date = pd.to_datetime(end)

filtered_df = df_copy[(df_copy['InvoiceDate'] >= start_date) & (df_copy['InvoiceDate'] <= end_date)]

total = (filtered_df['Quantity'] * filtered_df['UnitPrice']).sum()

print("Total Sale between", start, "and", end, "is:", total)

Enter the start date (YYYY-MM-DD):  2010-01-01
Enter the end date (YYYY-MM-DD):  2011-01-01
Total Sale between  2010-01-01 and  2011-01-01 is: 572713.89

In [42]:
#alternative

start_date = input("Enter start date (YYYY-MM-DD): ")
end_date = input("Enter end date (YYYY-MM-DD): ")
start_date = pd.to_datetime(start_date)
end_date = pd.to_datetime(end_date)
df_copy = df_cleaned.copy()
df_copy['InvoiceDate'] = pd.to_datetime(df_copy['InvoiceDate'])
total_sale = df_copy[(df_copy['InvoiceDate'] >= start_date) & (df_copy['InvoiceDate'] <= end_date)]['Quantity'].sum()
print(total_sale)

Enter start date (YYYY-MM-DD): 2010-01-01
Enter end date (YYYY-MM-DD): 2011-01-01
312280

In [44]:
#4) Find each Countries Total SALE to find which Countries is highest potential customer
country_sales = df.groupby('Country')['Quantity'].sum()
highest_potential_customer = country_sales.idxmax()

print(country_sales)
print(highest_potential_customer)

Country
Australia                 84199
Austria                    4881
Bahrain                     314
Belgium                   23237
Brazil                      356
Canada                     2763
Channel Islands            9485
Cyprus                     6340
Czech Republic              671
Denmark                    8235
EIRE                     147281
European Community          499
Finland                   10704
France                   112061
Germany                  119156
Greece                     1557
Hong Kong                  4713
Iceland                    2458
Israel                     4406
Italy                      8112
Japan                     26016
Lebanon                     386
Lithuania                   652
Malta                       970
Netherlands              200937
Norway                    19338
Poland                     3684
Portugal                  16231
RSA                         352
Saudi Arabia                 80
Singapore                  5241
Spain                     27944
Sweden                    36078
Switzerland               30618
USA                        2458
United Arab Emirates        982
United Kingdom          4718329
Unspecified                3295
Name: Quantity, dtype: int64
United Kingdom

In [48]:
#5) Which Customer Id has highest purchase in quantity and total and find out the country of it

highest_customer_id = None
highest_purchase_quantity = 0
highest_purchase_total = 0
highest_purchase_country = None


for index, row in df_cleaned.iterrows():
    customer_id = row['CustomerID']
    quantity = row['Quantity']
    total_purchase = quantity * row['UnitPrice']
    country = row['Country']

    if total_purchase > highest_purchase_total:
        highest_purchase_quantity = quantity
        highest_purchase_total = total_purchase
        highest_customer_id = customer_id
        highest_purchase_country = country

print("Customer with the Highest Purchase:")
print("Customer ID:", highest_customer_id)
print("Total Quantity:", highest_purchase_quantity)
print("Total Purchase:", highest_purchase_total)
print("Country:", highest_purchase_country)

Customer with the Highest Purchase:
Customer ID: 16446.0
Total Quantity: 80995
Total Purchase: 168469.6
Country: United Kingdom

In [58]:
# Alternative: Which Customer ID has the highest purchase in quantity and total, and find out the country of it
customer_purchase = df_cleaned.groupby('CustomerID').agg({'Quantity': 'sum', 'UnitPrice': 'sum'})
max_quantity_customer = customer_purchase['Quantity'].idxmax()
max_quantity_customer_country = df_cleaned[df_cleaned['CustomerID'] == max_quantity_customer]['Country'].iloc[0]

print(max_quantity_customer)

print(max_quantity_customer_country )

14646.0
Netherlands

In [55]:
#6) Which Customer Id has lowest purchase in quantity and total and find out the country of it

lowest_customer_id = None
lowest_purchase_quantity = float('inf')
lowest_purchase_total = float('inf')
lowest_purchase_country = None


for index, row in df_cleaned.iterrows():
    customer_id = row['CustomerID']
    quantity = row['Quantity']

    total_purchase = quantity * row['UnitPrice']
    country = row['Country']

    if total_purchase < lowest_purchase_total:
        lowest_purchase_quantity = quantity
        lowest_purchase_total = total_purchase
        lowest_customer_id = customer_id
        lowest_purchase_country = country

print("Customer with the lowest Purchase:")
print("Customer ID:", lowest_customer_id)
print("Total Quantity:", lowest_purchase_quantity)
print("Total Purchase:", lowest_purchase_total)
print("Country:", lowest_purchase_country)

Customer with the lowest Purchase:
Customer ID: 12647.0
Total Quantity: 1
Total Purchase: 0.0
Country: Germany

In [63]:
#7) Find the biggest order in Sale (Cost), which country was the order from, and find the total purchase (Cost) done by that Customer ID
df_cleaned['TotalCost'] = df_cleaned['Quantity'] * df_cleaned['UnitPrice']
biggest_order = df_cleaned[df_cleaned['TotalCost'] == df_cleaned['TotalCost'].max()]
biggest_order_country = biggest_order['Country'].iloc[0]
customer_total_purchase = customer_purchase.loc[biggest_order['CustomerID'].iloc[0], 'UnitPrice']

In [68]:
print(biggest_order)
print(biggest_order_country)

       InvoiceNo StockCode                  Description  Quantity  \
540421    581483     23843  PAPER CRAFT , LITTLE BIRDIE     80995

         InvoiceDate  UnitPrice  CustomerID         Country  TotalPurchase  \
540421  12/9/11 9:15       2.08     16446.0  United Kingdom       168469.6

        TotalCost
540421   168469.6
United Kingdom

In [72]:
#8: Find how many different customers are available for each country, save the count in a dictionary, and return countries with the highest and lowest customer count
country_customer_counts = df_cleaned.groupby('Country')['CustomerID'].nunique().to_dict()
max_customer_count_country = max(country_customer_counts, key=country_customer_counts.get)
min_customer_count_country = min(country_customer_counts, key=country_customer_counts.get)

In [73]:
print(max_customer_count_country)
print(min_customer_count_country)

United Kingdom
Brazil

In [77]:
#9) Find which stock code was ordered the most by each country
country_stock_most_ordered = df_cleaned.groupby(['Country', 'StockCode'])['Quantity'].sum().reset_index()


most_ordered_stock_by_country = country_stock_most_ordered.groupby('Country').apply(lambda x: x.nlargest(1, 'Quantity')).reset_index(drop=True)


print(most_ordered_stock_by_country)

                 Country StockCode  Quantity
0              Australia     22492      2952
1                Austria     21918       288
2                Bahrain     23076        96
3                Belgium     21212       480
4                 Brazil     21430        24
5                 Canada     37370       504
6        Channel Islands     21785       407
7                 Cyprus     22335       384
8         Czech Republic     22578        72
9                Denmark     21915       288
10                  EIRE     22197      1828
11    European Community     22571        24
12               Finland    84997D       552
13                France     23084      4000
14               Germany     22326      1233
15                Greece     21615        48
16               Iceland     23076       240
17                Israel     20719       120
18                 Italy    51014A       240
19                 Japan     23084      3408
20               Lebanon     84929        24
21             Lithuania     21915        48
22                 Malta     72741        81
23           Netherlands     23084      4801
24                Norway     16008       576
25                Poland     21232       168
26              Portugal     22740       240
27                   RSA     21889        12
28          Saudi Arabia     22553        12
29             Singapore     22339       384
30                 Spain    84997D      1089
31                Sweden     22492      2916
32           Switzerland     22554       636
33                   USA     23366        88
34  United Arab Emirates     21700        72
35        United Kingdom     23843     80995
36           Unspecified     22952        36

In [78]:
country_most_ordered_stock = df.groupby(['Country', 'StockCode'])['Quantity'].sum().reset_index()
country_most_ordered_stock = country_most_ordered_stock.sort_values(by='Quantity', ascending=False)
country_most_ordered_stock = country_most_ordered_stock.groupby('Country').first()
country_most_ordered_stock

                     StockCode  Quantity
Country
Australia                22492      2952
Austria                  21918       288
Bahrain                  23076        96
Belgium                  21212       480
Brazil                   22699        24
Canada                   37370       504
Channel Islands          21785       407
Cyprus                   22335       384
Czech Republic           22579        72
Denmark                  21915       288
EIRE                     22197      1852
European Community       23211        24
Finland                 84997D       552
France                   23084      4024
Germany                  22326      1221
Greece                   21616        48
Hong Kong                22326       150
Iceland                  23076       240
Israel                   20719       130
Italy                   51014A       240
Japan                    23084      3408
Lebanon                  84929        24
Lithuania                21915        48
Malta                    72741        81
Netherlands              23084      4801
Norway                   16008       576
Poland                   21232       168
Portugal                 22740       240
RSA                      21889        12
Saudi Arabia             22553        12
Singapore                22339       384
Spain                   84997D      1089
Sweden                   22492      2916
Switzerland              22554       639
USA                      23366        88
United Arab Emirates     21700        72
United Kingdom           23843     80995
Unspecified              84077        96