In [ ]:
set1={1,2,-1,0,3,4,5,6,-8}

dir(set1)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
#ADD adds element in the set

set1={1,2,-1,0,3,4,5,6,-8}

set1.add(9)
print(set1)

set1.add(1) #doesnt add if already there; property of set no dupli
print(set1)

{0, 1, 2, 3, 4, 5, 6, 9, -8, -1}
{0, 1, 2, 3, 4, 5, 6, 9, -8, -1}

In [ ]:
#Clears all element

set1={1,2,-1,0,3,4,5,6,-8}

set1.clear()
print(set1)

set()

In [ ]:
#COPY

set1={1,2,-1,0,3,4,5,6,-8}

set2= set1.copy() #copies entire set
print(set2)

{0, 1, 2, 3, 4, 5, 6, -8, -1}

In [ ]:
#Difference and difference update
"""The difference_update() method is different from the difference() method,
because the difference() method returns a new set, without the unwanted items,
and the difference_update() method removes the unwanted items from the original set."""

x = {"a", "b", "c"}
y = {"g", "m", "a"}

z = x.difference(y)  #doesnt change x
print(z, "is the new set")
print(x,"is the old set" )

{'b', 'c'} is the new set
{'b', 'c', 'a'} is the old set

In [ ]:
x = {"a", "b", "c"}
y = {"g", "m", "a"}

z= x.difference_update(y) #removes  x
print(z, "is the new set")
print(x,"is the old set" )

None is the new set
{'b', 'c'} is the old set

In [ ]:
#'discard' removes specific item

x = {"a", "b", "c"}
x.discard("a")

print(x)

{'b', 'c'}

In [ ]:
#intersection  and intersection update

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)
#z=x.intersection_update(y)
print(z)
print(x)

{'apple'}

In [ ]:
#isDisjoint: Returns whether two sets have no intersection

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft"}

print(x.isdisjoint(y)) #returns true if no intersection

True

In [ ]:
#issubset: of another set

x = {"apple"}
y = {"google", "microsoft","apple"}

print(x.issubset(y))

True

In [ ]:
#issuperset: of another set
x = {"apple"}
y = {"google", "microsoft","apple"}

print(y.issuperset(x))

True

In [ ]:
#pops out last element
a={1,2,3,4}
a.pop()

print(a)

{2, 3, 4}

In [1]:
#removes specific element


fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'apple', 'cherry'}

In [2]:
#Returns a set with the symmetric differences of two sets


x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'cherry', 'google', 'banana'}

In [3]:
#inserts the symmetric differences from this set and another
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'cherry', 'google', 'banana'}

In [4]:
#Return a set containing the union of sets

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'apple', 'microsoft', 'cherry', 'google', 'banana'}

In [5]:
#Update the set with another set, or any other iterable

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'apple', 'microsoft', 'cherry', 'google', 'banana'}