In [ ]:
"""

Question 1) Remove all repeated elements from the list Given below using for loop.

a=[1,2,3,4,5,11,1,2,6,1,8]

Question 2) Print all prime numbers below 100

Question 3) print list in reverse order using for loop

Question 4)  print multiplication table of 13 using for loop

"""

In [ ]:
#1
#my solution1
i=0
a=[1,2,3,4,5,11,1,2,6,1,8,132,132,45]
set1={a[i]}

for i in range(len(a)):
  set1.add(a[i])

print(set1)

#my solution without for loop

print(set(a))

{1, 2, 3, 4, 5, 6, 132, 8, 11, 45}
{1, 2, 3, 4, 5, 6, 132, 8, 11, 45}

In [ ]:
#1
#Rohit's solution

a=[1,2,3,4,5,11,1,2,6,1,8,132,132,45]

unique_list=[]
for k in a:
  if k in unique_list:
    print("Repeated value:", k)
  else:
    unique_list.append(k)
print(unique_list)

Repeated value: 1
Repeated value: 2
Repeated value: 1
Repeated value: 132
[1, 2, 3, 4, 5, 11, 6, 8, 132, 45]

In [ ]:
#2 PRIME

primelist=[]

for k in range(2,100):
  flag=True
  for s in range(2,k):
    if k%s==0:
      flag=False
      break
  if flag:
    primelist.append(k)

for p in primelist:
  print(p, "is a prime number")


#print(primelist)

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
53 is a prime number
59 is a prime number
61 is a prime number
67 is a prime number
71 is a prime number
73 is a prime number
79 is a prime number
83 is a prime number
89 is a prime number
97 is a prime number

In [ ]:
#3
#reverse
a= [1,2,3,4,5,6,7,8,9,0]
for i in range(len(a)):
  c=a[len(a)-(i+1)]
  print("", c, end=' ')

 0  9  8  7  6  5  4  3  2  1

In [ ]:
#4
#Times table of 13

for i in range(13):
  c= i*13
  print("13 x",i, "is", c)

13 x 0 is 0
13 x 1 is 13
13 x 2 is 26
13 x 3 is 39
13 x 4 is 52
13 x 5 is 65
13 x 6 is 78
13 x 7 is 91
13 x 8 is 104
13 x 9 is 117
13 x 10 is 130
13 x 11 is 143
13 x 12 is 156

In [ ]:
#Python program to count the total number of digits in a number.

c=0
number=input("Please enter your number: \n")

for i in number:
  c+=1

print("# of digit in your number", c)

Please enter your number:
12345
# of digit in your number 5

In [ ]:
#Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers


a=int(input("Enter num1: \n"))
b=int(input("Enter num2: \n"))

minimum=min(a,b)

for k in range(minimum,-1,-1):
  if a%k==0 and b%k==0:
    print("HCM is", k)
    break

Enter num1:
14
Enter num2:
7
HCM is 7

17AUG

In [ ]:
# Write a program in Python to display the Factorial of a number.

n=int(input("Enter ur num: \n"))
f=1
for i in range(2,n+1,1):
  f*=i

print("The factorial of",n,"is",f)

Enter ur num:
0
The factorial of 0 is 1

In [ ]:
#WAP to separate positive and negative number from a list.

list1=[1,2,-1,3,-3,5,6,-6]
pos=[]
neg=[]
for i in list1:
  if i>=0:
    pos.append(i)
  else:
    neg.append(i)

print(pos)
print(neg)

[1, 2, 3, 5, 6]
[-1, -3, -6]

In [ ]:
#3) display fibonnaci series upto 10 terms


a=0
b=1
print(a, end=" ")
print(b, end=" ")
for i in range(8):
  c=a+b
  a=b
  b=c
  print(c, end=" ")

0 1 1 2 3 5 8 13 21 34

In [ ]:
#3) display fibonnaci series upto 10 terms
#rohit solution


fibonacci_list=[0,1]
number_of_terms=int(input("Number of terms :- "))
while len(fibonacci_list)<number_of_terms:
  next_term=fibonacci_list[-1]+fibonacci_list[-2]
  fibonacci_list.append(next_term)
print(fibonacci_list)
#0, 1, 1, 2, 3, 5, 8, 13, 21, 34

In [ ]:
"""
1) Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).
"""

for i in range(1500,2701,1):
  if i%7==0 and i%5==0:
    print(i, end=" ")

1505 1540 1575 1610 1645 1680 1715 1750 1785 1820 1855 1890 1925 1960 1995 2030 2065 2100 2135 2170 2205 2240 2275 2310 2345 2380 2415 2450 2485 2520 2555 2590 2625 2660 2695

In [ ]:
"""
Write a Python program to count the number of even and odd numbers in a series of numbers
Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

"""

n=int(input("Enter your series length: \n"))

s=[]
for i in range(n):
  s.append(i+1)

print("The series of number: ", s)

even_count=0
odd_count=0

for k in s:
  if k%2==0:
    even_count+=1
  else:
    odd_count+=1


print("# of Even:", even_count)
print("# of Odd", odd_count)

Enter your series length:
7
The series of number:  [1, 2, 3, 4, 5, 6, 7]
# of Even: 3
# of Odd 4

In [ ]:
"""Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

Expected Output : 0 1 2 4 5 """


for i in range(0,6):
  if i ==3 or i ==6:
    print("", end="")
  else:
    print(i, end=" ")

0 1 2 4 5