In [2]:
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_excel("Ch3_Q45_Data_File.xlsx")

df

,Rent,Footage,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,645,500,NaN,A real estate analyst examines the rental mark...,NaN
1,675,648,NaN,NaN,NaN
2,760,700,NaN,Monthly Rent,Footage
3,800,903,NaN,645,500
4,820,817,NaN,675,648
5,850,920,NaN,⋮,⋮
6,855,900,NaN,2400,2700
7,859,886,NaN,NaN,NaN
8,900,1000,a. Calculate the mean and the standard deviati...,NaN,NaN
9,905,920,NaN,NaN,NaN
10,905,876,Mean,NaN,?
11,929,920,Standard deviation,NaN,?
12,960,975,NaN,NaN,NaN
13,975,1100,b. Calculate the mean and the standard deviati...,NaN,NaN
14,990,940,NaN,NaN,NaN
15,995,1000,Mean,?,NaN
16,1029,1299,NaN,NaN,NaN
17,1039,1164,c. Which sample data exhibit greater relative ...,NaN,NaN
18,1049,1180,NaN,NaN,NaN
19,1050,1162,NaN,footage,NaN
20,1084,1163,NaN,Monthy rent,NaN
21,1100,1020,NaN,NaN,NaN
22,1100,1150,NaN,NaN,NaN
23,1185,1225,NaN,NaN,NaN
24,1245,1368,NaN,NaN,NaN
25,1275,1400,NaN,NaN,NaN
26,1275,1350,NaN,NaN,NaN
27,1400,1185,NaN,NaN,NaN
28,1450,1200,NaN,NaN,NaN
29,1500,1412,NaN,NaN,NaN
30,1518,1700,NaN,NaN,NaN
31,1600,1440,NaN,NaN,NaN
32,1635,1460,NaN,NaN,NaN
33,1635,1460,NaN,NaN,NaN
34,1650,1170,NaN,NaN,NaN
35,1750,1944,NaN,NaN,NaN
36,1950,2265,NaN,NaN,NaN
37,1975,1700,NaN,NaN,NaN
38,2200,4319,NaN,NaN,NaN
39,2400,2700,NaN,NaN,NaN

In [3]:
df=df.iloc[:,:2]
df

    Rent  Footage
0    645      500
1    675      648
2    760      700
3    800      903
4    820      817
5    850      920
6    855      900
7    859      886
8    900     1000
9    905      920
10   905      876
11   929      920
12   960      975
13   975     1100
14   990      940
15   995     1000
16  1029     1299
17  1039     1164
18  1049     1180
19  1050     1162
20  1084     1163
21  1100     1020
22  1100     1150
23  1185     1225
24  1245     1368
25  1275     1400
26  1275     1350
27  1400     1185
28  1450     1200
29  1500     1412
30  1518     1700
31  1600     1440
32  1635     1460
33  1635     1460
34  1650     1170
35  1750     1944
36  1950     2265
37  1975     1700
38  2200     4319
39  2400     2700

In [6]:
mean_rent = df['Rent'].mean()
std_deviation_rent = df['Rent'].std()


mean_footage = df['Footage'].mean()
std_deviation_footage = df['Footage'].std()

coefficient_of_variation_rent = std_deviation_rent / mean_rent
coefficient_of_variation_footage = std_deviation_footage / mean_footage

print("a. Mean Monthly Rent:", round(mean_rent, 2))
print("   Standard Deviation for Monthly Rent:", round(std_deviation_rent, 2))
print("b. Mean Footage:", round(mean_footage, 2))
print("   Standard Deviation for Footage:", round(std_deviation_footage, 2))

if coefficient_of_variation_rent > coefficient_of_variation_footage:
    print("c. The monthly rent data exhibit greater relative dispersion.")
else:
    print("c. The footage data exhibit greater relative dispersion.")

a. Mean Monthly Rent: 1222.92
   Standard Deviation for Monthly Rent: 424.8
b. Mean Footage: 1286.03
   Standard Deviation for Footage: 645.81
c. The footage data exhibit greater relative dispersion.