In [1]:
import pandas as pd
df=pd.read_excel("Ch1_Q21_V09_Data_File.xlsx")

In [2]:
df

,Observation,x1,x2,x3,x4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,1,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0.198204,78.0,23,3,NaN,NaN,The accompanying data set contains three numer...,NaN,NaN,NaN,NaN
2,3,0.889328,93.0,28,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0.749451,69.0,3,2,NaN,NaN,a. How many observations have x4 values that a...,NaN,NaN,NaN,NaN
4,5,0.177342,89.0,30,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
113,114,0.226235,39.0,15,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,115,0.233910,63.0,11,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,116,0.173195,33.0,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,117,0.377580,160.0,13,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,118,0.121562,162.0,27,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df=df.iloc[:,:5]

In [4]:
df

     Observation        x1     x2  x3  x4
0              1       NaN    NaN   1   1
1              2  0.198204   78.0  23   3
2              3  0.889328   93.0  28   1
3              4  0.749451   69.0   3   2
4              5  0.177342   89.0  30   3
..           ...       ...    ...  ..  ..
113          114  0.226235   39.0  15   1
114          115  0.233910   63.0  11   3
115          116  0.173195   33.0   7   1
116          117  0.377580  160.0  13   1
117          118  0.121562  162.0  27   1

[118 rows x 5 columns]

In [5]:
#a.
print("How many observations have x4 values are less than 3?")

print((df['x4'] < 3).sum())

How many observations have x4 values are less than 3?
85

In [6]:
#b. b. Sort the data by x1 in ascending order. What are the x1, x2, x3, and x4 values of the first observation after the data are sorted?  (For x1, round your answer to four decimal places.)

sorted_df = df.sort_values(by='x1', ascending=True)


print("x1:", round(sorted_df.iloc[0]['x1'],4))
print("x2:", sorted_df.iloc[0]['x2'])
print("x3:", sorted_df.iloc[0]['x3'])
print("x3:", sorted_df.iloc[0]['x4'])

x1: 0.0121
x2: 54.0
x3: 11.0
x3: 3.0

In [7]:
#c. Sort the data by x1 in descending order. What are the x1, x2, x3, and x4 values of the first observation after the data are sorted? (For x1, round your answer to four decimal places.)


sorted_df = df.sort_values(by='x1', ascending=False)


print("x1:", round(sorted_df.iloc[0]['x1'],4))
print("x2:", sorted_df.iloc[0]['x2'])
print("x3:", sorted_df.iloc[0]['x3'])
print("x4:", sorted_df.iloc[0]['x4'])

x1: 0.998
x2: 196.0
x3: 13.0
x3: 3.0

In [8]:
#d. How many missing values are there in x1, x2, x3, and x4?
missing_x1 = df['x1'].isna().sum()
missing_x2 = df['x2'].isna().sum()
missing_x3 = df['x3'].isna().sum()
missing_x4 = df['x4'].isna().sum()

print("Missing in x1:", missing_x1)
print("Missing in x2:", missing_x2)
print("Missing in x3:", missing_x3)
print("Missing in x4:", missing_x4)

Missing in x1: 1
Missing in x2: 1
Missing in x3: 0
Missing in x4: 0

In [9]:
#e. How many observations are there in each category in x4?
category_counts = df['x4'].value_counts()
print(category_counts)

2    45
1    40
3    33
Name: x4, dtype: int64