In [ ]:
import pandas as pd

df=pd.read_excel("Ch1_Q23_V02_Data_File.xlsx")

df

,x1,x2,x3,x4,x5,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,1,Own,172,2,0.054587,NaN,NaN,NaN,"a. Subset the data set to include only x2, x3,...",NaN,NaN,NaN
1,0,Rent,183,3,0.009077,NaN,NaN,NaN,nuber of missing values,NaN,NaN,?
2,1,Own,172,60,0.938140,NaN,NaN,NaN,b. Remove all observations that have “Own” as ...,NaN,NaN,NaN
3,0,Rent,148,7,0.020797,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Own,194,7,0.008174,NaN,NaN,NaN,number of observation,NaN,NaN,?
...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,Rent,209,16,0.666483,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,0,Rent,204,7,0.000385,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,0,Rent,114,52,0.036317,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,0,Rent,128,10,0.000457,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,1,Own,155,10,0.827123,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df=df.iloc[:,:5]
df

    x1    x2   x3  x4        x5
1    0  Rent  183   3  0.009077
3    0  Rent  148   7  0.020797
6    0  Rent  110  53  0.192234
9    0  Rent  164  15  0.004495
11   0  Rent  156  27  0.057231
12   0  Rent  113  33  0.015253
13   0  Rent  219  22  0.022706
14   0  Rent  173  26  0.969233
17   0  Rent  108  46  0.464121
20   0  Rent  218  59  0.021796
29   0  Rent  166   9  0.468196
31   0  Rent   97  29  0.089045
32   0  Rent  162  44  0.003414
33   0  Rent  183  40  0.005908
34   0  Rent  200  19  0.005501
35   0  Rent  146  55  0.072848
36   0  Rent  179   4  0.001544
37   0  Rent  187  51  0.004931
40   0  Rent  209   3  0.028299
41   0  Rent  140  51  0.050226
43   0  Rent  145  38  0.003604
44   0  Rent  184  54  0.019936
52   0  Rent  188  52  0.394119
59   0  Rent  166  28  0.027852
61   0  Rent  120  26  0.043913
63   0  Rent  133  33  0.027565
65   0  Rent  134  19  0.023674
70   0  Rent  129  35  0.047958
73   0  Rent  163  59  0.038614
74   0  Rent  184  35  0.680381
75   0  Rent  168  59  0.007326
77   0  Rent  161  16  0.048316
80   0  Rent  114  34  0.272405
83   0  Rent  104   8  0.546549
84   0  Rent  137   6  0.000470
85   0  Rent  215  58  0.005424
86   0  Rent  191  27  0.000896
87   0  Rent  111  49  0.001067
89   0  Rent  119  60  0.000346
92   0  Rent  217  13  0.003076
94   0  Rent  200   6  0.314209
95   0  Rent  209  16  0.666483
96   0  Rent  204   7  0.000385
97   0  Rent  114  52  0.036317
98   0  Rent  128  10  0.000457

In [ ]:
#a. Subset the data set to include only x2, x3, and x4. How many missing values are there in these three variables?
subset_df = df[['x2', 'x3', 'x4']]

missing_values = subset_df.isna().sum()

print("missing_values:")
print(missing_values)

missing_values:
x2    0
x3    0
x4    0
dtype: int64

In [ ]:
#b. Remove all observations that have “Own” as the value for x2. Then remove all observations that have values lower than 150 for x3. How many observations remain in the data set?

df = df[df['x2'] != 'Own']

df_new = df[df['x3'] >= 150]

print (df_new)
print("Number of remaining observations:", len(df_new))

    x1    x2   x3  x4        x5
1    0  Rent  183   3  0.009077
9    0  Rent  164  15  0.004495
11   0  Rent  156  27  0.057231
13   0  Rent  219  22  0.022706
14   0  Rent  173  26  0.969233
20   0  Rent  218  59  0.021796
29   0  Rent  166   9  0.468196
32   0  Rent  162  44  0.003414
33   0  Rent  183  40  0.005908
34   0  Rent  200  19  0.005501
36   0  Rent  179   4  0.001544
37   0  Rent  187  51  0.004931
40   0  Rent  209   3  0.028299
44   0  Rent  184  54  0.019936
52   0  Rent  188  52  0.394119
59   0  Rent  166  28  0.027852
73   0  Rent  163  59  0.038614
74   0  Rent  184  35  0.680381
75   0  Rent  168  59  0.007326
77   0  Rent  161  16  0.048316
85   0  Rent  215  58  0.005424
86   0  Rent  191  27  0.000896
92   0  Rent  217  13  0.003076
94   0  Rent  200   6  0.314209
95   0  Rent  209  16  0.666483
96   0  Rent  204   7  0.000385
Number of remaining observations: 26

In [ ]:
sheet_name = 1  # Replace with the name of the sheet you want to read
df_s2 = pd.read_excel('Ch1_Q23_V02_Data_File.xlsx', sheet_name)
df_s2

,Individual,Income,Age,Sex,Married,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1,87,46,F,Y,NaN,NaN,NaN,a. Count the number of males and females in th...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,97,52,M,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,44,25,F,Y,NaN,NaN,NaN,NaN,Number of male,?,NaN,NaN,NaN,NaN,NaN,NaN
3,4,115,53,F,Y,NaN,NaN,NaN,NaN,Number of F2male,?,NaN,NaN,NaN,NaN,NaN,NaN
4,5,73,37,M,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,94,48,M,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886,887,93,46,F,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
887,888,110,53,F,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
888,889,56,34,F,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
889,890,69,44,F,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_s2=df_s2.iloc[:,:5]
df_s2

     Individual  Income  Age Sex Married
0             1      87   46   F       Y
1             2      97   52   M       Y
2             3      44   25   F       Y
3             4     115   53   F       Y
4             5      73   37   M       Y
..          ...     ...  ...  ..     ...
885         886      94   48   M       Y
886         887      93   46   F       Y
887         888     110   53   F       N
888         889      56   34   F       Y
889         890      69   44   F       N

[890 rows x 5 columns]

In [ ]:
df_s2.columns

Index(['Individual', 'Income', 'Age', 'Sex', 'Married'], dtype='object')

In [ ]:
#a. Count the number of males and females in the data.

num_males = df_s2[df_s2['Sex'] == 'M']['Individual'].count()
num_females = df_s2[df_s2['Sex'] == 'F']['Individual'].count()

print("Males:")
print(num_males)

print("Females:")
print(num_females)

Males:
507
Females:
383

In [ ]:
# b. Calculate the percentage of males and females who are married


total_males = num_males
total_females = num_females

num_married_males = df_s2[(df_s2['Sex'] == 'M') & (df_s2['Married'] == 'Y')]['Individual'].count()
num_married_females = df_s2[(df_s2['Sex'] == 'F') & (df_s2['Married'] == 'Y')]['Individual'].count()

percentage_married_males = (num_married_males / total_males) * 100
percentage_married_females = (num_married_females / total_females) * 100

In [ ]:


print("Percentage of married males:", round(percentage_married_males, 2), "%")
print("Percentage of married females:", round(percentage_married_females, 2), "%")

Percentage of married males: 66.07 %
   Percentage of married females: 65.01 %

In [ ]:
# c. Find the number of married males among the 10 individuals with the highest income

top_10_highest_income = df_s2.nlargest(10, 'Income')
num_married_males_top_10 = top_10_highest_income[(top_10_highest_income['Sex'] == 'M') & (top_10_highest_income['Married'] == 'Y')]['Individual'].count()

print("c. Number of married males among the 10 individuals with the highest income:", num_married_males_top_10)

c. Number of married males among the 10 individuals with the highest income: 7