In [1]:
import pandas as pd
#import matplotlib.pyplot as plt
df=pd.read_excel("Ch3_Q5_Data_File.xlsx")

df

,Price,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,430,NaN,NaN,NaN
1,520,NaN,The following table shows a portion of the sal...,NaN
2,460,NaN,NaN,NaN
3,475,NaN,Number,Price
4,670,NaN,1,430
5,521,NaN,2,520
6,670,NaN,⋮,⋮
7,417,NaN,36,430
8,533,NaN,NaN,NaN
9,525,"Find the mean and median sale price. (Round ""m...",NaN,NaN
10,538,NaN,NaN,NaN
11,370,NaN,Mean,NaN
12,530,NaN,Mediam,NaN
13,525,NaN,NaN,NaN
14,430,NaN,NaN,NaN
15,330,NaN,NaN,NaN
16,575,NaN,NaN,NaN
17,555,NaN,NaN,NaN
18,521,NaN,NaN,NaN
19,350,NaN,NaN,NaN
20,399,NaN,NaN,NaN
21,560,NaN,NaN,NaN
22,440,NaN,NaN,NaN
23,425,NaN,NaN,NaN
24,669,NaN,NaN,NaN
25,660,NaN,NaN,NaN
26,702,NaN,NaN,NaN
27,540,NaN,NaN,NaN
28,460,NaN,NaN,NaN
29,588,NaN,NaN,NaN
30,445,NaN,NaN,NaN
31,412,NaN,NaN,NaN
32,735,NaN,NaN,NaN
33,537,NaN,NaN,NaN
34,630,NaN,NaN,NaN
35,430,NaN,NaN,NaN

In [2]:
df=df.iloc[:,:1]
df

    Price
0     430
1     520
2     460
3     475
4     670
5     521
6     670
7     417
8     533
9     525
10    538
11    370
12    530
13    525
14    430
15    330
16    575
17    555
18    521
19    350
20    399
21    560
22    440
23    425
24    669
25    660
26    702
27    540
28    460
29    588
30    445
31    412
32    735
33    537
34    630
35    430

In [5]:
#Find the mean and median sale price. (Round "mean" to 2 decimal places.)
print("Mean Sale Price:", round(df['Price'].mean(), 2))
print("Median Sale Price:", df['Price'].median())

Mean Sale Price: 516.03
Median Sale Price: 523.0